# Ignore virtual environment
venv/
.venv/
env/

# Optional common Python ignores
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version

# VS Code settings (optional)
.vscode/

# Environment variables
.env

# Local project folderss
scripts/