# Ignore virtual environment
venv/
.venv/
env/

# Optional common Python ignores
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version

# VS Code settings (optional)
.vscode/

# Environment variables
.env

# Logs
*.log

# package distribution
dist/
build/
*.egg-info/
node_modules/
package-lock.json
package.json

# Ignore configuration files
.flake8



